name: "my-app"

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    depends_on:
      - db
      - rabbitmq
      - redis
    ports:
      - "8000:8000"

  celery:
    build:
      context: .
      dockerfile: docker/celery.Dockerfile
    depends_on:
      - backend
      - rabbitmq
      - redis

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:8
