name: "my-app"

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    env_file:
      - .env  # основной файл
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
    ports:
      - "8000:8000"

  celery:
    build:
      context: .
      dockerfile: docker/celery.Dockerfile
    env_file:
      - .env  # основной файл
    depends_on:
      - backend
      - rabbitmq
      - redis

  db:
    image: postgres:18
    container_name: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - .env

  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:8
